@font-face {
  font-family: 'Actay';
  font-style: normal;
  font-weight: normal;
  src: local('Actay'),
  url('/assets/fonts/Actay/Actay-Regular.ttf') format('truetype'),
  url('/assets/fonts/Actay/Actay-Regular.otf') format('otf');
}

@font-face {
  font-family: 'ActayBold';
  font-style: normal;
  font-weight: bold;
  src: local('Actay'),
  url('/assets/fonts/Actay/Actay-Bold.ttf') format('truetype'),
  url('/assets/fonts/Actay/Actay-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Constance';
  font-style: normal;
  font-weight: normal;
  src: local('Constance'),
  url('/assets/fonts/Constance/Constance.otf') format('truetype');
}

@font-face {
  font-family: 'BebusNeue';
  font-style: normal;
  font-weight: normal;
  src: local('BebusNeue'),
  url('/assets/fonts/BebusNeue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
  src: local('Manrope'),
  url('/assets/fonts/Manrope/Manrope.ttf') format('truetype');
}
